doctype html
html
    head
        title DiscordStatsBot
        link(rel='stylesheet', href='/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=KoHo')
    body
        .main-container.white
            .container.space
                p.strong Discord Stats Bot
                .end
                    a.white(href='/') Guilds
                    | 
                    |
                    a > #{data[0].guildName}
            .container.column
                p Channels
                .list
                    .item
                        p.flex-two.strong Name
                        p.flex-one.strong Type
                        p.flex-one.string ID
                    each element in data
                        .item
                            a.flex-two.white(href='/c/'+element.channelId) #{element.channelName}
                            p.flex-one #{element.type}
                            p.flex-one #{element.channelId}
                p Activity
                .diagram
                    each element in stats
                        .item