doctype html
html
    head
        title DiscordStatsBot
        link(rel='stylesheet', href='/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=KoHo')
    body
        .flex-container
            .item DiscordStatsBot
            .item
                p #{text}
                #guildList
                    if status
                        each element in data
                            a.center.white(href='g/'+element.id) #{element.name}
                    else
                        p Db error