doctype html
html
    head
        title DiscordStatsBot
        link(rel='stylesheet', href='/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=KoHo')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='icon', href='/favicon.ico')
    body
        .main-container.white
            .container.space
                p.strong Discord Stats Bot
                a Index
            .container.row.space
                a.white.column.flex-center.flex-one(href='/g/', style={"text-decoration": "none"})
                    i.fas.fa-users.fa-10x
                    p Guilds
                a.white.column.flex-center.flex-one(href='/u/', style={"text-decoration": "none"})
                    i.fas.fa-user.fa-10x
                    p Users
                a.white.column.flex-center.flex-one(href='/advanced/', style={"text-decoration": "none"})
                    i.fas.fa-code-branch.fa-10x
                    p Advanced queries    